%footer
  .row
    .col-md-2
      &nbsp;
    .col-md-7.text-center
      %small
        Copyright &copy;
        =Date.today.year
        Tree Town Cooperative Nursery School
    .col-md-2.col-md-offset-1
      &nbsp;
