.btn-toolbar{role: "toolbar"}
  .btn-group.btn-group-sm{role: "group"}
    =link_to new_category_path, {class: "btn btn-default"} do
      %span.fa.fa-plus-square{aria_hidden: "true"}
      New Category
