!!!
%html
  %head
    %title
      Tree Town
    =stylesheet_link_tag    'application', media: 'all'
    =javascript_include_tag 'application'
    =csrf_meta_tags
  %body
    .container-fluid
      =render "shared/navbar"
      .row
        .col-md-2
          = image_tag("treetown.jpg")
          %ul
            %li Placeholder
            %li For bulletins
            %li And resources
        .col-md-7.col-xs-12.pull-left
          =yield
        .col-md-3
          %p.block
            Tree Town Cooperative Nursery School
            235 S Kenilworth Avenue
            Elmhurst, IL 60126

            Phone: (630) 279-8778
            Fax: (630) 279-8781
            Email: treetowncoop@yahoo.com
